<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<!--===============================================================================================-->
</head>
<body>
	<form action="/api/registrar" method="post">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form">
						<span class="login100-form-title p-b-26">
							Crear Usuario !!
						</span>
						<span class="login100-form-title p-b-48">
							<p style="font-weight: bold;">CoderHouse</p>
						</span>

						<div class="wrap-input100" data-validate="Usuario Existente">
							<input class="input100" type="text" name="username" id="username">
							<span class="focus-input100" data-placeholder="Usuario"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Formato: abc@def.com">
							<input class="input100" type="text" name="mail" id="mail">
							<span class="focus-input100" data-placeholder="Email"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Ingrese Clave">
							<span class="btn-show-pass">
								<i class="zmdi zmdi-eye"></i>
							</span>
							<input class="input100" type="password" name="password" id="password">
							<span class="focus-input100" data-placeholder="Password"></span>
						</div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" id="btnRegistrar" type="button">
									Registrarme
								</button>
							</div>
						</div>

						<div class="text-center p-t-44">
							<a class="txt2" href="/api/login" style="font-weight:bold; color:rgba(54, 54, 138, 0.603));">
								Volver
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</form>

	<div id="dropDownSelect1"></div>
	
{{!-- <!--===============================================================================================-->--}}
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================--> 
	<script src="/javascript/login.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const btnRegistrar = document.getElementById('btnRegistrar');

    if (btnRegistrar) {
        btnRegistrar.addEventListener('click', async function () {
            try {
                const result = await fetch('/api/registrar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        username: document.getElementById('username').value,
                        mail: document.getElementById('mail').value,
                        password: document.getElementById('password').value,
                    }),
                }).then(response => response.json());

                if (result.success) {
                    await Swal.fire({
                        icon: 'success',
						title: `Usuario Creado Correctamente <br>`,
                        text: `El Usuario: ${document.getElementById('username').value} fué creado exitosamente`,
                        showConfirmButton: false,
                        timer: 3000
                    });

                    // Redirige al usuario después de mostrar el SweetAlert
                    window.location.href = '/api/login';
                } else {
					
                    await Swal.fire({
                        icon: 'error',
                        title: `Error al crear el usuario `,
                        text: result.message
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                // Puedes manejar errores aquí si es necesario
            }
        });
    }
});
</script>

</body>
</html>
