<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bienvenido</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- Enlaces a los estilos de Font Awesome -->
  <link href="assets/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="assets/fontawesome/css/brands.css" rel="stylesheet">
  <link href="assets/fontawesome/css/solid.css" rel="stylesheet">
  <script src="javascript/menu_hamburguesa.js"></script>


</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">NodeProject</label>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/api/products">Productos</a></li>
      <li><a href="/api/users">Usuarios</a></li>
      <li><a href="#">Carrito</a></li>
      <li><a href="#">Mis Compras</a></li>
      <li><a href="#">Perfil</a></li>
    </ul>
  </nav>

    {{{body}}}
</body>
</html>