<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido</title>
  <!--<link rel="stylesheet" type="text/css" href="estilos.css">-->
</head>
<body>
  <header>
    <h1>{{titulo}}</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/api/products">Productos</a></li>
      <li><a href="/api/users">Usuarios</a></li>
    </ul>
  </nav>
    {{{body}}}
</body>
</html>